/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body{
margin:auto;
width:870px;
    
}
#container{
    margin:auto;
    height:860px;
    width:600px;
    background:#EAE7D2;
    
}
#topbar{
    color:#EAE7D2;
    text-align:right;
    background-color:#51473D;
    font-size:12px;
    height:200px;
    background-position:0 20px;
    background-image: url("pics/coffey.jpg");
    background-repeat:no-repeat;
}
#menu{
    font-family:verdana;
    font-size:15.5px;
    margin-top:-16px;
    width:600px;
    background:#51473D;
    list-style-type:none;
    height:50px;
}
#menu ul{
    margin-left:-30px;
    background:#51473D;
}
#menu li{
    display: inline;
}
#menu a
{
    background-color:#797066;
    text-decoration:none;
    padding:0.5em 1.25em;
    float:left;
    margin-left:1.5px;
    margin-top:16px;
    color: #EAE7D2;
}
#menu li .active{
    color: blue;
}
#menu a:hover
{
    color: #fff;
    background-color: #9C9084;
}
a:link {
    color: #797066;
}

a:visited {
    color: #797066;
}
#content{
}
#maincontent{
    color:#797066;
    line-height: 30px;
    font-family:times;
    width:320px;
    float:left;
    margin:15px;
    border-right:dashed 1px #797066;
}
#maincontent img
{
    margin:10px;
    float:left;
}
#subcontent{
    color:#797066;
    margin:15px;
}
#subcontent h1{
    font-size:18px;
    font-weight:lighter;
}
#subcontent h2{
    font-size:16px;
    font-weight:lighter;
    margin-bottom:-20px;
    margin-top:50px;
}
#subcontent li{
    list-style-type:none;
}
#bottomcontent{
    color:#797066;
    font-size:15px;
    font-style:italic;
    margin-left:20px;
}
a[href="#maincontent"]
{display:none; }