/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body{
    margin:auto;
    margin-top:20px;
    width:870px;
    font-family:verdana;    
}
#container{
    border: 1px solid #917439;
    margin:auto;
    height:680px;
    width:600px;
    background:#EAE7D2;
    
}
#topbar{
    color:#EAE7D2;
    text-align:right;
    background-color:#51473D;
    font-size:12px;
    height:200px;
    background-position:0 20px;
    background-image: url("pics/coffey.jpg");
    background-repeat:no-repeat;
}
#menu{
    font-family:verdana;
    font-size:15.5px;
    margin-top:-16px;
    width:600px;
    background:#51473D;
    list-style-type:none;
    height:50px;
}
#menu ul{
    margin-left:-30px;
    background:#51473D;
}
#menu li{
    display: inline;
}
#menu a
{
    background-color:#797066;
    text-decoration:none;
    padding:0.5em 1.25em;
    float:left;
    margin-left:1.5px;
    margin-top:16px;
    color: #EAE7D2;

}
#menu .active a{

    color: #797066;
    background-color:#EAE7D2;
}
#menu a:hover
{
    color: #fff;
    background-color: #9C9084;
}
a:link {
    color: #797066;
}

a:visited {
    color: #797066;
}
#content{
    margin:1px;
}
#maincontent{
    color:#797066;
    line-height: 20px;
    font-size:13px;
    width:320px;
    float:left;
    margin:15px;
    margin-top:-20px;
    border-right:dashed 1px #797066;
}
#maincontent p{
    margin-right:10px;
}
#maincontent img
{
    margin:10px;
    float:left;
}
#subcontent{
    font-size:60%;
    line-height: 20px;
    color:#797066;
    margin:15px;
    margin-bottom:30px;
}
h1, h2{
    margin-top:25px;
    font-family:times sans-serif;
    font-weight:lighter;
}
#subcontent p{
    margin-bottom:80px;
}
#subcontent ul{
    margin-top:-15px;
}
#subcontent li{
    font-size:120%;
    list-style-type:none;
}
#bottomcontent{
    clear:both;
    color:#797066;
    font-size:10px;
    font-style:italic;
    margin-left:20px;
}
a[href="#maincontent"]
{display:none; }